body {
    background-color:#a000c8;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-weight: bold;
    font-size:large;
    color :white;
}
p {
    font-weight: bold;
    font-size: medium;
    color: white;
    text-align: justify;
}
a {
    color: white;
}

li {
    color:white;
}