body {
    background: url(bgimages/bgblack6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-weight: bold;
    font-size:large;
    color : #e4f2f1;
}
p {
    font-weight: bold;
    font-size: medium;
    color: #e4f2f1;
}